p {
  font-size: 20px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  font-weight: 600;
  margin: 15px 0 5px 0;
}
  
html, body {
  background: #F8F9FA;
  font-family: 'calibri';
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  display: block;
}

svg {
  position: relative;
}

.map {
  display: block;
  margin: 2px;
  padding: 2px;
}

.sidebar {
  display: block;
  margin: 2px;
  padding: 2px;
}

.caption {
  fill: #000000;
  font-size: 14px;
  font-weight: bold;
  font-family: 'calibri';
}

.bottom {
  margin-top: 0px;
  flex-direction: column;
}
  
.bottom p {
  font-size: 15px;
}

a {
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: #4575B4;
}

a:visited {
  color: #4556b4;
}