p {
  font-size: 20px;
}
  
h4 {
  font-weight: 600;
  margin: 15px 0 5px 0;
}
  
html, body {
  background: #F8F9FA;
  font-family: 'calibri';
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

svg {
  position: relative;
}

.container-fluid {
  padding: 1%;
}

.main-container {
  max-width: 1040px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.map {
  display: block;
  height: 850px;
}

.crime-type {
  width: 250px;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 200px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.legend {
  stroke: rgb(135, 135, 135);
  fill: none;
}

#legend-text {
  font-size: 12px;
  text-anchor: middle;
}

.bottom {
  margin-top: 0px;
  flex-direction: column;
}
  
.bottom p {
  font-size: 15px;
}

a {
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: #4575B4;
}

a:visited {
  color: #4556b4;
}